<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body { font-family: sans-serif; }
      form { margin: 1em 0; }
      form * { font-size: 14pt; }
      h1 a, h2 a { color: black; text-decoration: none; }
      .word { margin: 0 0.1em; }
    </style>
  </head>
  <body>
    {{> @partial-block }}
  </body>
</html>
