{{#> layout}}
  <style>
  main { max-width: 800px; margin: auto; text-align: center; margin-top: 5em; }
  .tagline { font-size: 80%; }
  .nav { margin: 1em 0; font-size: 14pt; }
  </style>
  <main>
    <h1><a href="/">wwxr.io</a></h1>
    <span class="tagline">Explore and search for XR content on the Web</span>
    <div class="nav">
      <a href="/explore">explore</a>
      <a href="/blog">blog</a>
    </div>
    <form action="/search">
      <input name="q" />
      <button>search</button>
    </form>
  </main>
{{/layout}}
